
/* =========================main part================= */
.main{
    display: grid;
    grid-template-columns: 1fr 5fr;
    margin: 0 auto;
}
.main ul{
    max-height: 30rem;
    overflow-y: auto;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 18px 0px;
    font-size: 0.95rem;
    color: #665;
    cursor: pointer;
    user-select: none;
}

.main .active, .main li:hover{
    color: var(--header-color);
    font-size: 1rem;
    transition: ease-in 0.2s;

}
.main ul::-webkit-scrollbar {
    width: 0px; /* To style the scroller */
  }

.main .genreszzz:hover ul::-webkit-scrollbar {
    width: 3px; /* To style the scroller hovering */
    background: #f1f1f1; /* Track color */
  }

.main .genreszzz:hover ul::-webkit-scrollbar-thumb {
    background: #ef233c; /* Thumb color */
  }

  .sel{
    color: #ef233c;
    font-weight: bolder;
    text-align: center;
  }

/* ============View Port======================== */
.main .view-port{
    margin: 0px auto;
    max-width: 90%;
    padding: 40px;
    background-color: var(--view-background);
    border-radius: 2rem;
    box-shadow: inset 2px 2px 50px #000;
}



/* =================Moving Text================ */
.top{
    display: none;
}
.down{
    display: block;
}
.moving-text{
    width: 100%;
    padding: 0px 30px;
    max-width: 40rem;
    margin: 20px auto;
    background-color: whitesmoke;
    color: #000;
    font-weight: bold;
    border-radius: 3rem;
    box-shadow: inset 2px 2px 20px #000;
    overflow: hidden;
    z-index: 1;  
}
.moving-text div{
    text-wrap: nowrap;
    animation: move 20s infinite ease-in-out;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
}
.moving-text div:hover{
    animation-play-state: paused;
    cursor: pointer;
}
@keyframes move {
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-195%);
    }
}

.moving-text span, a{
    color: blue;
    text-decoration: none;
}
.moving-text a:hover{
    text-decoration: underline;
}



/* ======================Gener=============== */
.vew{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px auto;
}



/* ===================Pata Hold =========================*/
.pop-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.pop-list img{
    width: 12rem;
    height: 10rem;
}
#pat{
    background-color: #000;
    padding: 40px;
    margin: 0 auto;

}
.pat-hold{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    background-color: #665;
}
.pat-hold div{ /*detarmins image size*/
    width: 20rem;
    height: 15rem;
    background-color: yellow;
    margin: 10px;
}
.mid {
    max-width: 90%;
    margin: 0 auto;
}
.mid div{
    width: 25rem;
    height: 15rem;
    background-color: yellow;
}
.pat-hold img{
    width: 100%;
    height: 100%;
}
/* ========You may like============== */
.you-may-like-blog{
    margin: 20px auto;
    text-align: center;
}
.you-may-like-blog h3{
    text-align: left;
    background-color: #111;
    padding: 20px 50px;
    color: var(--title-color);
}
.you-img img{
    width: 150px;
    height: 200px;
    border-radius: 5px;
}

@media (max-width: 750px) {
    /* ========Moving text top========= */
    .down{
        display: none;
    }
    .top{
        display: block;
    }
   .moving-text{
        width: 90%;
    }

    .main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 100%;
    }
    .main .genreszzz{
        width: 100%;
    }
    .main .genreszzz h4{
        margin-top: 30px;
        text-align: left;
        padding-left: 20px;
    }
    .main .genres{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        padding: 10px 30px;
    }
    .main .genres li{
        border: 1px solid #ef233c;
        padding: 5px 15px;
        text-wrap: nowrap;
        border-radius: 10px;
    }

    
    /* ==========view port============== */
    .main .view-port{
        max-width: 98%;
        padding: 10px;
        margin-top: 20px;
    }   
    .blog .you-may-like{
        margin: 20px auto;
    }
    .blog .you-may-like h3{
        margin-top: 0px;
    }
    .you-may-like-blog h3{
        width: 100%;
        padding: 10px 30px;
        font-size: 18px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    /* all blog trend and popular foemart */
    .pop-list{
        max-height: 30rem;
        overflow: auto;
    }
    .pop-list::-webkit-scrollbar{
        width: 2px;
    }
    .main .vew{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    .main .vew img{
        width: 6.5rem;
        height: 8rem;
        gap: 10px;
        margin: 3px auto;
    }


    /* ========== Pat hold ================== */
    .series{
        text-align: center;
        font-size: 1.2rem;
        padding: 20px;
        padding-bottom: 0px;
        margin-top: 40px;
        margin-bottom: 0px;
        color: #ef233c;
        text-decoration: underline;
    }
    #pat{
        padding: 10px;
        margin: 0 auto;
    }
    .pat-hold{
       flex-direction: row;
       overflow-x: scroll;
       gap: 2px;
    }
    .pat-hold div{
        width: 12rem;
        height: 8rem;
        margin: 2px;
    }
    #pat.pat-hold div img{
        width: 100%;
    }

    .blog-you-may .vew{
        padding: 10px;
        margin: 5px auto;
        overflow: auto;
    }
}