:root{
    --header-color: whitesmoke;
    --title-color: #ef233c;
    --hover-color: #70e000;
    --view-background: #212529;
    --hover-effect1: 0.8;
}

#join-us{
    background-color: #03045e;
    margin: 0 auto;
    width: 90%;
    max-width: 30rem;
    border-radius: 1rem;
    padding: 1.5rem;
}
#join-us form{
    margin: 0 auto;
    width: 100%;
    max-width: 25rem;
    text-align: center;
}
#join-us form input{
    display: block;
    padding: 0.75rem;
    width: 90%;
    border-radius: 5px;
    margin: 0px;
    border: none;
    margin: 2rem auto;
}
#join-us form input[name="checked"]{
    display: inline;
    width: 5%;
    margin-top: -20px;
}
#join-us form div{
    margin-top: -25px;
    width: 100%;
}
#join-us form h4{
    display: inline;
    margin-right: 40px;
}
#join-us form p{
    display: inline;
    margin: 2px;
}
#join-us form .p{
    margin-right: 1.5rem;
}

#join-us form input[type="radio"]{
    display: inline;
    width: 10px;
    padding: 50px;
}
input:focus{
    outline: none;
}
#join-us form input:required{
    border-left: 2px solid red;
}
#join-us form input:valid{
    border-left: 3px solid green;
}

#join{
    padding: 0.5rem 3rem;
    background-color: #f5f5f5;
    border-radius: 10px;
    color: #ef233c;
    margin: 2rem auto;
    font-weight: bolder;
    font-size: 1rem;   
}
#join:hover{
    background-color: #70e000;
    color: #f5f5f5;
    opacity: 1;
    transition: ease-in 0.2s;
}