@media (max-width: 750px) {
    *{
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
    }
    
    #large-nav{
        display: none;
    }

    #hambug-nav{
        display: grid;
        grid-template-columns: 1fr 3.5fr 0.5fr;
        align-items: center;
        justify-items: center;
        text-align: center;
        padding: 10px 5px;
    }
    #hambug-nav h5 a{
        font-size: 25px;
        padding: 5px;
        width: 100%;
    }
    #hambug-nav form{
        width: 100%;
    }
    #hambug-nav form input{
        padding: 0.4rem;
        width: 70%;
        border-radius: 50px 0 0 50px;
        margin: 0px;
        border: none;
    }
    #hambug-nav form button{
        width: 20%;
        border: none;
        border-radius: 0px 50px 50px 0px;
        font-weight: bolder;
        color: var(--header-color);
        background-color: #03045e;
        padding: 0.4rem 5px;
    }
    #hambug-nav .hambug{
        display: block;
        padding: 0.5rem;
        border: none;
        box-shadow: 2px 2px 15px #999;
        border-radius: 10px;
        margin-left: 8px;
        font-size: 20px;
        width: 90%;
    }
  
    /* ========= ul li links========== */
    .hambug-ul{
        margin: 0 auto;
        display: none;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        gap: 20px;
        padding: 20px;
        padding-right: 0px;
        background-color: rgba(239, 35, 60, 0.2);
        border-left: 1px solid #999;
        border-bottom: 1px solid #999;
        border-bottom-left-radius: 1rem;
        width: 50%;
        margin-left: 50%;
        margin-bottom: 1rem;
    }
    .hambug-ul li{
        margin: 0.8rem 0;
    }
    .show-ul{
        display: flex;
    }
    /* =========main============= */
    #main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 100%;
    }
    #main #genres{
        width:100%;
        overflow: hidden;
        padding: 0px 5px;
    }
    #main .genres{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        padding: 10px 30px;
    }
    #main .genres li{
        border: 1px solid #ef233c;
        padding: 5px 15px;
        text-wrap: nowrap;
        border-radius: 10px;
    }

    /* =========View Port========= */
    #main{
        width: 100%;
        padding: 5px;
        margin: 0px;
    }
    #main .view-port{
        padding: 0px;
        border-radius: 10px;
        margin: 0px auto;
        margin-top: 30px;
        width: 100%;
    }
  
    .hero-info p{
        top: 25%;
        left: 25%;
        width: 15rem;
        text-align: left;  
        padding: 10px; 
        border-top: 1px solid #fff;  
        border-bottom: 1px solid #fff;  
    }
    .hero-info button{
        position: static;
        z-index: 1;
        top: auto;
        left: auto;
        margin: 15px auto;
    }


    /* ===============GENER=================== */
    #main #genres:hover ul::-webkit-scrollbar {
        width: 3px; /* To style the scroller hovering */
        background: #ef233c; /* Track color */
      }
    
    #main #genres:hover ul::-webkit-scrollbar-thumb {
        background: #5555; /* Thumb color */
      }
    /* =============trending============= */
    main .trilers{
        width: 100%;
    }
    .trilers h3{ /* h3 formart */
        padding: 10px 30px;
        font-size: 18px;
        margin-top: 50px;
    }
    .trilers img{
        width: 8rem;
        height: 12rem;
        border-radius: 2rem;
        border: 1px solid #111;
       
    }
    .trilers:hover .triler-img::-webkit-scrollbar {
        width: 0px; /* To style the scroller hovering */
        background: #ef233c; /* Track color */
      }
    
    .trilers:hover .triler-img::-webkit-scrollbar-thumb {
        background: #5555; /* Thumb color */
      }
    
    
    /* trailler buttons */
    .trilers .fw{ 
        right: 5px;
    }
    .bw{
        left: 5px;
    }
    

    /* ====================Hero=============== */
#hero-line{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem;
}
#hero{
    width: 20rem;
    height: 20rem;
    z-index: 0;
    margin: 1rem 0;
    align-self: center;
}
#hero1, #hero2{
    width: 20rem;
    height: 20rem;
    align-self: center;
    border: 1px solid #999;
}
#hero1, #hero2{
    margin: 15px auto;
}

/* ==========Popular=========== */
.polpular{
    padding: 0px;
    padding-bottom: 10px;
    margin: 0 auto;
}
.polpular h3{
    width: 100%;
    padding: 10px 30px;
    font-size: 18px;
    margin-top: 50px;
    margin-bottom: 10px;
}
.polpular .triler-img{
    max-height: 30rem; /*Scroll popular*/
    overflow:auto ;
    gap: 10px;
    padding: 5px;
}
   
.polpular .triler-img::-webkit-scrollbar {
    width: 0px; /* To style the scroller */
  }

.polpular:hover .triler-img::-webkit-scrollbar {
    width: 0px; /* To style the scroller hovering */

  }
  .img-div{
    width: 10rem;
    height: 14rem;
    border-radius: 1rem;
}
.img-div div{
    margin-top: 70%; /*Hoding title under popular*/
}
/* ===================Video-================ */
.video-container {
    margin: 5rem auto;
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
}

.video-element {
    width: 90%;
    height: 300px;
    border: none;
    margin: 10px auto;
}

/* ==========You may like============== */
.you-may-like{
    width: 100%;
}
.you-may-like h3{
    padding: 10px 30px;
    font-size: 18px;
    margin-top: 50px;
}
.you-may-like .you-img{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 30rem;
    overflow: auto;
    padding: 5px;
    justify-content: center;
    gap: 8px;
}
.you-img img{
    width: 6.5rem;
    height: 8rem;
}
.you-may-like .you-img::-webkit-scrollbar {
    width: 0px; /* To style the scroller */
  }

.you-may-like:hover .you-img::-webkit-scrollbar {
    width: 0px; /* To style the scroller hovering */
    background: #f1f1f1; /* Track color */
  }


  /* ==========footer======= */
  #footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;

}
#footer p{
    margin: 20px auto;
}
#footer {
    text-align: center;
}
#footer ul{
    align-items: center;
}


  /*============footer links========= */
  #tags{
    width: 90%;
    padding: 10px;
    background-color: var(--view-background);
    border-radius: 1rem;
    margin: 30px auto;
}

    /* =========================================================== */
    /* LIGHT MODE DISPLAY */
    .light-body{
        background-color: #fff;
        color: #000;
    }
    .light-body nav{
        background-color: #000;
    }
    .light-body #main .genres .active{
        color: #111;
        font-weight: bolder;
    }
    .light-body .hambug-ul{
        background-color: rgba(0, 0, 0, 0.5);
        border-left: 1px solid #999;
        border-bottom: 1px solid #999;
    }
    .light-body .polpular, .light-body .you-may-like, .light-body .you-may-like-blog{
        background-color: #f1f1f1;
    }

    .light-body .genres .active{
        color: #000;
        font-weight: bolder;
    }
    
    /* ========================================================== */

}

@media (max-width: 500px) {
    #hambug-nav h5 a{
        align-self: self-start;
        font-size: 20px;
        margin-right: 10px;
    }
    .hero-info p{
        top: 10%;
        left: 15%;
    }

    #main .movie-hero-image img{
        height: 15rem;
    }
    #main .genres li, main .genres li{
        border: 1px solid #ef233c;
        padding: 5px 15px;
        text-wrap: nowrap;
        border-radius: 10px;
    }

}